[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
remote-ikernel = "*"
pytest = "*"

[packages]
psutil = "*"
click = "*"
adafruit-circuitpython-dht = {markers = "'arm' in platform_machine",version = "*"}
sysv-ipc = {markers = "platform_machine == 'armv61' and platform_system == 'Linux'",version = "*"}
numpy = "*"

[requires]
