[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
mypy = "*"
flake8 = "*"
black = "*"
pre-commit = "*"
wheel = "*"
twine = "*"
sqlalchemy-stubs = "*"

[packages]
apd-aggregation = {editable = true,extras = ["jupyter"],path = "."}
apd-sensors = {editable = true,extras = ["webapp"],path = "./../code"}

[requires]

[pipenv]
allow_prereleases = true
