[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
mypy = "*"
flake8 = "*"
black = "*"
pre-commit = "*"
wheel = "*"
twine = "*"

[packages]
apd-aggregation = {editable = true,path = "."}

[requires]

[pipenv]
allow_prereleases = true
